
li {
   list-style: none;
   text-decoration: none;
   
}
ul{
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    gap: 5% ;
}

.holder{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    padding: 5%;
}

.centered img{
    border-radius: 50%;
    width: 200px;
}

.holder button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.holder input{
    padding: 10px;
    width: 100%;
}